.testimonial-container{
    text-align: center;
    margin: 20px;
    background-color: white;
}
.clients{
    margin: 20px;
    background-color: lightgray;
    padding: 10px;
}
.testimonial{
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.split{
    text-align: center;
    flex: 1;
    margin: 10px;
    box-shadow: 0 0 5px black;
    padding: 30px;
    max-width: 320px;
  }
  .job{
    font-weight: 700;
  }
  .centered{
    display: grid;
    justify-items: center;
    grid-gap: 5px;
    text-align: justify;
  }